{% extends "index.html" %}


{% block content %}
<div class="container " style="background-color: rgb(0, 89, 83);height:500px;padding:100px;padding-top: 50px;">

    <div class="container-fluid card" align="center" style="width: max-content;padding:30px" >
    


    <h1>Login</h1>
    <form action="" method="POST"  style="padding: 30px;">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username}} <br>

        {{ form.password.label_tag }}
        {{ form.password}}<br>
        <button>Login</button>
    </form>
    <a href="{% url 'register' %}">register</a>

    </div>
</div>


{% endblock content %}
    